body{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url('img.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text], textarea, input[type=email]{
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-left: -3em;
}

label{
    display: inline-block;
    padding: 12px 12px 12px 12px;
    color: #ffffff;
    margin-left: 7em;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    border: none;
    padding: 20px;
}

.col-1{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-2{
    float: left;
    width: 75%;
    margin-top: 6px;
}

input[type=submit]{
    background-color: orange;
    border: none;
    padding: 12px 22px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 54em;
    font-size: 20px;
}

input[type=submit]:hover{
    background-color: darkorange;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

h1.heading{
    color: orangered;
    padding: 8px;
    text-transform: uppercase;
    margin-top: -10px;
    letter-spacing: 5px;
    font-family: cursive;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    margin-top: -3.5em;
}

ul li{
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 1.4em;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: orange;
}

ul li a.home:hover{
    background-color: darkorange;
    color: white;
}

.home{
    background-color: darkcyan;
    border-radius: 100px;
    width: 2px;
}